<!DOCTYPE html>
<html lang='pt-BR'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Confirmar Deleção</title>
    {% load static %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/listar.css" %}'>
</head>
<body>
    <header>
        <img class="img1" src="{% static 'images/logoBranca.png' %}" alt="Logo">
        <h3>Inovare Estoque Almoxarifado</h3>
        <a href="{% url 'listar_fornecedores' %}" class="botao-inicio">Voltar à Lista</a>
    </header>

    <div class="main-container">
        <h2>Deseja realmente deletar o fornecedor: {{ fornecedor.nome_fornecedor }}?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirmar Deleção</button>
            <a href="{% url 'listar_fornecedores' %}">Cancelar</a>
        </form>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <ul class="contact-info">
                    <li>
                        <a href="https://www.instagram.com/"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
                        <a href="https://www.facebook.com/"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                        <a href="https://bsky.app/"><img src="{% static 'images/bluesky.png' %}" alt="Bluesky"></a>
                    </li>
                    <li><a href="mailto:inovarealmoxarifado0102@gmail.com">inovarealmoxarifado0102@gmail.com</a></li>
                    <li><a href="tel:+5517994578543">(17) 9945-75843</a></li>
                </ul>
            </div>
            <img class="img2" src="{% static 'images/logoBranca.png' %}" alt="Logo">
            <div class="footer-right">
                <p>
                    Nosso papel é gerenciar e controlar materiais, incluindo armazenamento, controle de inventário, recebimento e conferência, distribuição e manutenção de registros, para garantir a disponibilidade eficiente e organizada dos suprimentos necessários para a operação da organização.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
