<!DOCTYPE html>
<html lang='pt-BR'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Editar Produtos</title>
    {% load static %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/editarprod.css" %}'>
    <script src='{% static "js/editarprod.js" %}'></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
</head>
<body>
    <header>
        <img class="img1" src="{% static '/images/logoBranca.png' %}" alt="Logo">
        <h3>Inovare Estoque Almoxarifado</h3>
        <a href="{% url 'inicioadmin' %}" class="botao-inicio">Voltar à Página Inicial</a>
    </header>

    <div class="main-container">

        <div class="image-barcode-container">
            <h1>Editar Produto</h1>
            <img src="{% static '/images/cadastroprod.png' %}" alt="Imagem de Cadastro" class="cadastro-image" id="imageSelector">
            <svg id="barcode"></svg>
            <input type="file" id="fileInput" accept="image/*" capture="camera" style="display: none;">
        </div>

        <div class="form-container">
            <form method="post" action="{% url 'editar_produto' produto.id_produto %}">
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <td><label for="id_nomeprod">Nome:</label></td>
                            <td>{{ form.nomeprod }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_desc">Descrição:</label></td>
                            <td>
                                {{ form.desc }}
                                {% if form.desc.errors %}
                                    <div class="error">{{ form.desc.errors }}</div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><label for="id_cod_barra">Código de Barras:</label></td>
                            <td>{{ form.cod_barra }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_quant">Quantidade:</label></td>
                            <td>{{ form.quant }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_validade">Validade:</label></td>
                            <td>{{ form.validade }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_fornecedor">Fornecedor:</label></td>
                            <td>{{ form.fornecedor }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="button-container">
                    <input type="submit" value="Enviar" class="btn">
                    <input type="reset" value="Limpar" class="btn">
                    <input type="button" value="Voltar" onclick="window.location.href='{% url 'listar_produto' %}';" class="btn">
                </div>
            </form>
        </div>
    </div>


    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <ul class="contact-info">
                    <li>
                        <a href="https://www.instagram.com/"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
                        <a href="https://www.facebook.com/"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                        <a href="https://bsky.app/"><img src="{% static 'images/bluesky.png' %}" alt="Bluesky"></a>
                    </li>
                    <li><a href="mailto:inovarealmoxarifado0102@gmail.com">inovarealmoxarifado0102@gmail.com</a></li>
                    <li><a href="tel:+5517994578543">(17) 9945-75843</a></li>
                </ul>
            </div>
            <img class="img2" src="{% static 'images/logoBranca.png' %}" alt="Logo">
            <div class="footer-right">
                <p>
                    Nosso papel é gerenciar e controlar materiais, incluindo armazenamento, controle de inventário, recebimento e conferência, distribuição e manutenção de registros, para garantir a disponibilidade eficiente e organizada dos suprimentos necessários para a operação da organização.
                </p>
            </div>
        </div>
    </footer>

    <script>
        JsBarcode("#barcode", "123456789012", {
            format: "CODE128",
            width: 3,
            height: 50,
            displayValue: true
        });

        document.getElementById('imageSelector').addEventListener('click', function() {
            document.getElementById('fileInput').click();
        });

        document.getElementById('fileInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('imageSelector').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>