<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inovare Estoque Almoxarifado</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/inicioadmin.css' %}">
</head>
<body>
   <!-- Header -->
    <header>
        <img class="img1" src="{% static 'images/logoBranca.png' %}" alt="Logo">
        <h3>Inovare Estoque Almoxarifado</h3>
    </header>

    <!-- Quem somos -->
    <section class="quem-somos">
        <img src="{% static 'images/quemsomos.png' %}" alt="Imagem Almoxarifado">
        <div class="descricao">
            <h2>Quem somos?</h2>
            <p>Nosso papel é gerenciar e controlar materiais, incluindo armazenamento, controle de inventário, recebimento e conferência, distribuição e manutenção de registros, para garantir a disponibilidade eficiente e organizada dos suprimentos necessários para a operação da organização.</p>
        </div>
    </section>

    <!-- Gerenciamentos -->
    <section class="gerenciamento">
        <h2>Gerenciamentos</h2>
        <div class="gerenciamento-cards">
            <div class="card">
                <img src="{% static 'images/cadastroprod.png' %}" alt="Cadastro Produto">
                <a href="/cadastroproduto/"><button class="button1">Cadastrar Produto</button></a>
            </div>
            <br>
            <div class="card">
                <img src="{% static 'images/cadastro.png' %}" alt="Cadastro Funcionários">
                <a href="/cadastrarfunc/"><button class="button1">Cadastrar Funcionários</button></a>
            </div>
            <br>
            <div class="card">
                <img src="{% static 'images/cadastro.png' %}" alt="Cadastro Fornecedores">
                <a href="/cadastroforn/"><button class="button1">Cadastrar Fornecedores</button></a>
            </div>
            <br></br>
            <div class="card1">
                <img src="{% static 'images/relatorio.png' %}" alt="Relatório">
                <a href="/relatorios/"><button class="button1">Relatório</button></a>
            </div>
            <br></br>
            <div class="card1">
                <img src="{% static 'images/editar.png' %}" alt="Editar">
                <a href="/editar/"><button class="button1">Editar</button></a>
            </div>
            <br></br>
            <div class="card1">
                <img src="{% static 'images/cadastroprod.png' %}" alt="Movimentacao">
                <a href="/movimentacoes/"><button class="button1">Registrar Movimentações</button></a>
            </div>
        </div>
    </section>

    <!-- Footer -->
 <footer>
        <div class="footer-container">
            <div class="footer-left">
                <ul class="contact-info">
                    <li>
                        <a href="https://www.instagram.com/"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
                        <a href="https://www.facebook.com/"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                        <a href="https://bsky.app/"><img src="{% static 'images/bluesky.png' %}" alt="Bluesky"></a>
                    </li>
                    <li><a href="mailto:inovarealmoxarifado0102@gmail.com">inovarealmoxarifado0102@gmail.com</a></li>
                    <li><a href="tel:+5517994578543">(17) 9945-75843</a></li>
                </ul>
            </div>
            <img class="img2" src="{% static 'images/logoBranca.png' %}" alt="Logo">
            <div class="footer-right">
                <p>
                    Nosso papel é gerenciar e controlar materiais, incluindo armazenamento, controle de inventário, recebimento e conferência, distribuição e manutenção de registros, para garantir a disponibilidade eficiente e organizada dos suprimentos necessários para a operação da organização.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>