@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url('/static/images/fundoDeitado.png');
    background-size: 100%;
    height: 100vh;
    margin: 0;
    display: block;
}

header {
    background-color: #000;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.img1 {
    width: 15%;
    max-width: 100px;
    height: auto;
}

header h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.botao-inicio {
    background-color: #681413;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-inicio:hover {
    background-color: #9a1915;
}

footer {
    background-color: #000;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    margin-top: 175px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left ul {
    list-style: none;
    padding: 0;
    margin-left: 50px;
}

.footer-left ul li {
    margin-bottom: 10px;
}

.footer-left ul a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer-right {
    width: 400px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    margin-left: 50px;
}

.footer-right p {
    margin: 0;
}

.footer-left ul li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer-center {
    text-align: center;
    flex: 1;
}

.img2 {
    width: 12%;
    height: auto;
}

.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 900px;
    margin: 100px auto 20px auto;
    flex: 1;
}

.cadastro-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos dentro da seção */
}

.title {
    color: black; /* Cor do texto */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; /* Tamanho da fonte */
    margin-bottom: 20px; /* Espaço abaixo do título */
    margin-left: -35%;
}

.cadastro-image {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Manter proporção */
    margin-right: 180px;
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

.form-container {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

input[type="text"], select, input[type="date"] {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff80;
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: #ffffff80;
    color: #000;
}

.button-container {
    display: flex;
    justify-content: space-between;
}
